#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 80px;
    height: 70px;
}

.banner {
    color: #3f92ff;
    font-family: sans-serif;
}
